{% extends "layout.html" %}

{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
<section>
    <div class="page-row">
        <div class="page-header">
            <h1>{{ book.title }}</h1>
            {% if let Some(author) = book.author %}
            <p class="books-detail-author">{{ author }}</p>
            {% endif %}
        </div>
    </div>

    {% if let Some(year) = book.publication_year %}
    <div class="page-row">
        <div class="page-content">
            <span class="page-label">Publication Year</span>
            <span class="page-value">{{ year }}</span>
        </div>
    </div>
    {% endif %}

    {% if let Some(isbn) = book.isbn %}
    <div class="page-row">
        <div class="page-content">
            <span class="page-label">ISBN</span>
            <span class="page-value">{{ isbn }}</span>
        </div>
    </div>
    {% endif %}

    <div class="page-row">
        <div class="page-content">
            <span class="page-label">Added</span>
            <span class="page-value">{{ book.created_date() }}</span>
        </div>
    </div>
</section>
{% endblock content %}
