<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ālaya{% endblock %}</title>
    <style>
        {% include "style.css" %}
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="nav-logo">book notes</a>
            <div class="nav-links">
                {% if is_authenticated %}
                <a href="/">book list</a>
                <a href="/books/new">add book</a>
                <a href="/profile">{{ username }}</a>
                <form method="post" action="/logout" class="nav-form">
                    <input type="submit" value="logout">
                </form>
                {% else %}
                <a href="/login">login</a>
                <a href="/signup">sign up</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
